name: CI

on: [push]

jobs:
  code_check:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4

      - name: Set up Golang
        uses: actions/setup-go@v5
        with:
          go-version: "1.23"
          cache-dependency-path: |
            **/go.sum

      - name: Execute code check
        run: go vet ./...

  test:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4

      - name: Set up Golang
        uses: actions/setup-go@v5
        with:
          go-version: "1.23"
          cache-dependency-path: |
            **/go.sum

      - name: Execute test
        run: go test ./...
